supabase : Dumping schemas from local database...
At line:1 char:66
+ ... o-App-03" ; supabase db dump --local 
--schema public > temp_schema.sq ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (Dum 
   ping schemas from local database...:String)   
  [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 



SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE TYPE "public"."booking_status" AS ENUM (
    'Booked',
    'Advance Paid',
    'Confirmed',
    'Active',
    'Completed',
    'Cancelled'
);


ALTER TYPE "public"."booking_status" OWNER TO "postgres";


CREATE TYPE "public"."customer_status" AS ENUM (
    'Verified',
    'Pending'
);


ALTER TYPE "public"."customer_status" OWNER TO "postgres";


CREATE TYPE "public"."damage_severity" AS ENUM (
    'Minor',
    'Moderate',
    'Major'
);


ALTER TYPE "public"."damage_severity" OWNER TO "postgres";


CREATE TYPE "public"."damage_type" AS ENUM (
    'Scratch',
    'Dent',
    'Broken Mirror',
    'Tyre',
    'Mechanical',
    'Other'
);


ALTER TYPE "public"."damage_type" OWNER TO "postgres";


CREATE TYPE "public"."fuel_type" AS ENUM (
    'Petrol',
    'Electric'
);


ALTER TYPE "public"."fuel_type" OWNER TO "postgres";


CREATE TYPE "public"."id_type" AS ENUM (
    'Aadhaar',
    'Voter ID',
    'Passport',
    'Driving License'
);


ALTER TYPE "public"."id_type" OWNER TO "postgres";


CREATE TYPE "public"."payment_choice" AS ENUM (
    'Booking Only',
    'Advance Paid',
    'Fully Paid'
);


ALTER TYPE "public"."payment_choice" OWNER TO "postgres";


CREATE TYPE "public"."payment_mode" AS ENUM (
    'Cash',
    'UPI',
    'Other'
);


ALTER TYPE "public"."payment_mode" OWNER TO "postgres";


CREATE TYPE "public"."payment_status" AS ENUM (
    'Paid',
    'Partial',
    'Unpaid'
);


ALTER TYPE "public"."payment_status" OWNER TO "postgres";


CREATE TYPE "public"."user_role" AS ENUM (
    'admin',
    'staff',
    'owner'
);


ALTER TYPE "public"."user_role" OWNER TO "postgres";


CREATE TYPE "public"."vehicle_status" AS ENUM (
    'Available',
    'Booked',
    'Maintenance'
);


ALTER TYPE "public"."vehicle_status" OWNER TO "postgres";


CREATE TYPE "public"."vehicle_type" AS ENUM (
    'bike',
    'car'
);


ALTER TYPE "public"."vehicle_type" OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."calculate_photo_expiry"("p_booking_id" "uuid") RETURNS timestamp with time zone
    LANGUAGE "plpgsql" STABLE
    AS $$
DECLARE
  v_completed_at TIMESTAMPTZ;
BEGIN
  SELECT 
    COALESCE(returned_at, updated_at) INTO v_completed_at
  FROM bookings
  WHERE id = p_booking_id AND status = 'Completed';
  
  IF v_completed_at IS NULL THEN
    RETURN NULL;
  END IF;
  
  RETURN v_completed_at + INTERVAL '7 days';
END;
$$;


ALTER FUNCTION "public"."calculate_photo_expiry"("p_booking_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."cleanup_damage_photos"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  -- When damage is deleted, soft delete associated photos
  UPDATE vehicle_damage_photos
  SET 
    deleted_at = now(),
    updated_at = now()
  WHERE 
    damage_id = OLD.id 
    AND deleted_at IS NULL;
  
  RETURN OLD;
END;
$$;


ALTER FUNCTION "public"."cleanup_damage_photos"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."cleanup_expired_id_photos"() RETURNS TABLE("deleted_count" integer, "file_paths" "text"[])
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  v_deleted_count INTEGER := 0;
  v_file_paths TEXT[] := ARRAY[]::TEXT[];
BEGIN
  -- Find expired photos
  SELECT 
    COUNT(*)::INTEGER,
    ARRAY_AGG(file_path)
  INTO v_deleted_count, v_file_paths
  FROM customer_id_photos
  WHERE 
    expires_at IS NOT NULL 
    AND expires_at < now() 
    AND deleted_at IS NULL;
  
  -- Soft delete expired photos
  UPDATE customer_id_photos
  SET 
    deleted_at = now(),
    updated_at = now()
  WHERE 
    expires_at IS NOT NULL 
    AND expires_at < now() 
    AND deleted_at IS NULL;
  
  RETURN QUERY SELECT v_deleted_count, v_file_paths;
END;
$$;


ALTER FUNCTION "public"."cleanup_expired_id_photos"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."create_owner"("p_auth_user_id" "uuid", "p_shop_id" "uuid") RETURNS "uuid"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  v_user_id UUID;
  v_existing_owner_count INTEGER;
BEGIN
  -- Validate inputs
  IF p_auth_user_id IS NULL THEN
    RAISE EXCEPTION 'Auth user ID is required';
  END IF;
  
  IF p_shop_id IS NULL THEN
    RAISE EXCEPTION 'Shop ID is required';
  END IF;

  -- Check if shop exists
  IF NOT EXISTS (SELECT 1 FROM rental_shops WHERE id = p_shop_id) THEN
    RAISE EXCEPTION 'Shop does not exist: %', p_shop_id;
  END IF;

  -- Check if auth user exists
  IF NOT EXISTS (SELECT 1 FROM auth.users WHERE id = p_auth_user_id) THEN
    RAISE EXCEPTION 'Auth user does not exist: %', p_auth_user_id;
  END IF;

  -- Check if user already exists in this shop
  IF EXISTS (SELECT 1 FROM users WHERE auth_id = p_auth_user_id AND shop_id = p_shop_id) THEN
    RAISE EXCEPTION 'User already exists in this shop';
  END IF;

  -- Check if shop already has an owner
  SELECT COUNT(*) INTO v_existing_owner_count
  FROM users
  WHERE shop_id = p_shop_id AND role = 'owner';

  IF v_existing_owner_count > 0 THEN
    RAISE EXCEPTION 'Shop already has an owner. Promote an existing staff member instead.';
  END IF;

  -- Create owner user record
  INSERT INTO users (
    auth_id,
    shop_id,
    name,
    email,
    role,
    is_active
  )
  VALUES (
    p_auth_user_id,
    p_shop_id,
    COALESCE((SELECT email FROM auth.users WHERE id = p_auth_user_id), 'Unknown'),
    (SELECT email FROM auth.users WHERE id = p_auth_user_id),
    'owner',
    true
  )
  RETURNING id INTO v_user_id;

  -- Update rental_shops.owner_id to point to the actual auth user
  UPDATE rental_shops
  SET owner_id = p_auth_user_id
  WHERE id = p_shop_id;

  RETURN v_user_id;
END;
$$;


ALTER FUNCTION "public"."create_owner"("p_auth_user_id" "uuid", "p_shop_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."create_rental_shop"("p_owner_id" "uuid", "p_name" "text", "p_phone" "text" DEFAULT NULL::"text", "p_email" "text" DEFAULT NULL::"text", "p_address" "text" DEFAULT NULL::"text", "p_city" "text" DEFAULT NULL::"text", "p_state" "text" DEFAULT NULL::"text", "p_pincode" "text" DEFAULT NULL::"text", "p_gst_number" "text" DEFAULT NULL::"text") RETURNS "uuid"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  v_shop_id UUID;
BEGIN
  -- Validate required inputs
  IF p_owner_id IS NULL THEN
    RAISE EXCEPTION 'Owner ID is required';
  END IF;

  IF p_name IS NULL OR TRIM(p_name) = '' THEN
    RAISE EXCEPTION 'Shop name is required and cannot be empty';
  END IF;

  -- Check if owner (auth user) exists
  IF NOT EXISTS (SELECT 1 FROM auth.users WHERE id = p_owner_id) THEN
    RAISE EXCEPTION 'Owner (auth user) does not exist: %', p_owner_id;
  END IF;

  -- Create shop
  INSERT INTO rental_shops (
    owner_id,
    name,
    phone,
    email,
    address,
    city,
    state,
    pincode,
    gst_number
  )
  VALUES (
    p_owner_id,
    TRIM(p_name),
    TRIM(p_phone),
    TRIM(p_email),
    TRIM(p_address),
    TRIM(p_city),
    TRIM(p_state),
    TRIM(p_pincode),
    TRIM(p_gst_number)
  )
  RETURNING id INTO v_shop_id;

  RETURN v_shop_id;
END;
$$;


ALTER FUNCTION "public"."create_rental_shop"("p_owner_id" "uuid", "p_name" "text", "p_phone" "text", "p_email" "text", "p_address" "text", "p_city" "text", "p_state" "text", "p_pincode" "text", "p_gst_number" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."create_staff"("p_auth_user_id" "uuid", "p_shop_id" "uuid") RETURNS "uuid"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  v_user_id UUID;
BEGIN
  -- Validate inputs
  IF p_auth_user_id IS NULL THEN
    RAISE EXCEPTION 'Auth user ID is required';
  END IF;
  
  IF p_shop_id IS NULL THEN
    RAISE EXCEPTION 'Shop ID is required';
  END IF;

  -- Check if shop exists
  IF NOT EXISTS (SELECT 1 FROM rental_shops WHERE id = p_shop_id) THEN
    RAISE EXCEPTION 'Shop does not exist: %', p_shop_id;
  END IF;

  -- Check if auth user exists
  IF NOT EXISTS (SELECT 1 FROM auth.users WHERE id = p_auth_user_id) THEN
    RAISE EXCEPTION 'Auth user does not exist: %', p_auth_user_id;
  END IF;

  -- Check if user already exists in this shop (any role)
  IF EXISTS (SELECT 1 FROM users WHERE auth_id = p_auth_user_id AND shop_id = p_shop_id) THEN
    RAISE EXCEPTION 'User already exists in this shop';
  END IF;

  -- Create staff user record
  INSERT INTO users (
    auth_id,
    shop_id,
    name,
    email,
    role,
    is_active
  )
  VALUES (
    p_auth_user_id,
    p_shop_id,
    COALESCE((SELECT email FROM auth.users WHERE id = p_auth_user_id), 'Unknown'),
    (SELECT email FROM auth.users WHERE id = p_auth_user_id),
    'staff',
    true
  )
  RETURNING id INTO v_user_id;

  RETURN v_user_id;
END;
$$;


ALTER FUNCTION "public"."create_staff"("p_auth_user_id" "uuid", "p_shop_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."current_shop_id"() RETURNS "uuid"
    LANGUAGE "sql" STABLE SECURITY DEFINER
    AS $$
  SELECT shop_id FROM users
  WHERE auth_id = auth.uid()
$$;


ALTER FUNCTION "public"."current_shop_id"() OWNER TO "postgres";


COMMENT ON FUNCTION "public"."current_shop_id"() IS 'Returns shop_id for authenticated user from JWT sub claim';



CREATE OR REPLACE FUNCTION "public"."days_until_expiry"("p_expires_at" timestamp with time zone) RETURNS integer
    LANGUAGE "plpgsql" IMMUTABLE
    AS $$
BEGIN
  IF p_expires_at IS NULL THEN
    RETURN NULL;
  END IF;
  
  RETURN GREATEST(0, EXTRACT(DAY FROM (p_expires_at - now()))::INTEGER);
END;
$$;


ALTER FUNCTION "public"."days_until_expiry"("p_expires_at" timestamp with time zone) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."deactivate_user"("p_auth_user_id" "uuid") RETURNS "text"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  v_rows_affected INTEGER;
BEGIN
  -- Validate input
  IF p_auth_user_id IS NULL THEN
    RAISE EXCEPTION 'Auth user ID is required';
  END IF;

  -- Check if user exists
  IF NOT EXISTS (SELECT 1 FROM users WHERE auth_id = p_auth_user_id) THEN
    RAISE EXCEPTION 'User does not exist: %', p_auth_user_id;
  END IF;

  -- Deactivate user (soft delete)
  UPDATE users
  SET is_active = false, updated_at = now()
  WHERE auth_id = p_auth_user_id;

  GET DIAGNOSTICS v_rows_affected = ROW_COUNT;

  RETURN 'User deactivated successfully. ' || v_rows_affected || ' record(s) updated.';
END;
$$;


ALTER FUNCTION "public"."deactivate_user"("p_auth_user_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."fy_label"("ts" timestamp with time zone) RETURNS "text"
    LANGUAGE "plpgsql" IMMUTABLE
    AS $$
DECLARE
  start_year INT;
  next_year INT;
BEGIN
  IF EXTRACT(MONTH FROM ts) < 4 THEN
    start_year := EXTRACT(YEAR FROM ts)::INT - 1;
  ELSE
    start_year := EXTRACT(YEAR FROM ts)::INT;
  END IF;
  next_year := start_year + 1;
  
  -- Return format: 2025-26
  RETURN start_year::TEXT || '-' || SUBSTRING(next_year::TEXT, 3, 2);
END;
$$;


ALTER FUNCTION "public"."fy_label"("ts" timestamp with time zone) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."generate_booking_number"() RETURNS "text"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  next_num INT;
BEGIN
  next_num := nextval('public.booking_number_seq');
  RETURN 'BK' || LPAD(next_num::TEXT, 4, '0');
END;
$$;


ALTER FUNCTION "public"."generate_booking_number"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."generate_booking_number"("p_shop_id" "uuid") RETURNS "text"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  current_val INT;
BEGIN
  INSERT INTO booking_number_counters (shop_id, next_booking_number)
  VALUES (p_shop_id, 1)
  ON CONFLICT (shop_id) DO NOTHING;

  UPDATE booking_number_counters
  SET next_booking_number = next_booking_number + 1, updated_at = now()
  WHERE shop_id = p_shop_id
  RETURNING next_booking_number - 1 INTO current_val;

  RETURN 'BK' || LPAD(current_val::TEXT, 4, '0');
END;
$$;


ALTER FUNCTION "public"."generate_booking_number"("p_shop_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."generate_customer_number"() RETURNS "text"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  next_num INT;
BEGIN
  next_num := nextval('public.customer_number_seq');
  RETURN 'CUST' || LPAD(next_num::TEXT, 4, '0');
END;
$$;


ALTER FUNCTION "public"."generate_customer_number"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."generate_customer_number"("p_shop_id" "uuid") RETURNS "text"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  v_count INT;
  v_next_num INT;
BEGIN
  SELECT COUNT(*) INTO v_count FROM customers WHERE shop_id = p_shop_id;
  v_next_num := v_count + 1;
  RETURN 'CUST' || LPAD(v_next_num::TEXT, 4, '0');
END;
$$;


ALTER FUNCTION "public"."generate_customer_number"("p_shop_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."generate_invoice_number"() RETURNS "text"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  next_num INT;
BEGIN
  next_num := nextval('public.invoice_number_seq');
  RETURN 'INV' || LPAD(next_num::TEXT, 4, '0');
END;
$$;


ALTER FUNCTION "public"."generate_invoice_number"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."generate_invoice_number"("p_shop_id" "uuid", "p_ts" timestamp with time zone DEFAULT "now"()) RETURNS "text"
    LANGUAGE "plpgsql"
    AS $$
DECLARE
  fy TEXT;
  current_val INT;
BEGIN
  fy := fy_label(p_ts);

  INSERT INTO invoice_number_counters (shop_id, financial_year, next_invoice_number)
  VALUES (p_shop_id, fy, 1)
  ON CONFLICT (shop_id, financial_year) DO NOTHING;

  UPDATE invoice_number_counters
  SET next_invoice_number = next_invoice_number + 1, updated_at = now()
  WHERE shop_id = p_shop_id AND financial_year = fy
  RETURNING next_invoice_number - 1 INTO current_val;

  -- Use forward slash format: INV/2025-26/0001
  RETURN 'INV/' || fy || '/' || LPAD(current_val::TEXT, 4, '0');
END;
$$;


ALTER FUNCTION "public"."generate_invoice_number"("p_shop_id" "uuid", "p_ts" timestamp with time zone) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."mark_damage_as_repaired"("p_damage_id" "uuid", "p_user_id" "uuid") RETURNS TABLE("success" boolean, "message" "text")
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  UPDATE damages
  SET 
    is_repaired = TRUE,
    status = 'repaired',
    repaired_at = NOW(),
    repaired_by = p_user_id
  WHERE id = p_damage_id;
  
  RETURN QUERY SELECT TRUE::BOOLEAN, 'Damage marked as repaired'::TEXT;
END;
$$;


ALTER FUNCTION "public"."mark_damage_as_repaired"("p_damage_id" "uuid", "p_user_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."prevent_customer_deletion"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  IF EXISTS (SELECT 1 FROM bookings WHERE customer_id = OLD.id) THEN
    RAISE EXCEPTION 'Cannot delete customer with active bookings';
  END IF;
  RETURN OLD;
END;
$$;


ALTER FUNCTION "public"."prevent_customer_deletion"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."promote_staff_to_owner"("p_auth_user_id" "uuid", "p_shop_id" "uuid") RETURNS "text"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  v_current_owner_auth_id UUID;
  v_user_role user_role;
BEGIN
  -- Validate inputs
  IF p_auth_user_id IS NULL THEN
    RAISE EXCEPTION 'Auth user ID is required';
  END IF;
  
  IF p_shop_id IS NULL THEN
    RAISE EXCEPTION 'Shop ID is required';
  END IF;

  -- Check if shop exists
  IF NOT EXISTS (SELECT 1 FROM rental_shops WHERE id = p_shop_id) THEN
    RAISE EXCEPTION 'Shop does not exist: %', p_shop_id;
  END IF;

  -- Check if user exists in this shop
  IF NOT EXISTS (SELECT 1 FROM users WHERE auth_id = p_auth_user_id AND shop_id = p_shop_id) THEN
    RAISE EXCEPTION 'User does not exist in this shop: %', p_auth_user_id;
  END IF;

  -- Check if user is already owner
  SELECT role INTO v_user_role
  FROM users
  WHERE auth_id = p_auth_user_id AND shop_id = p_shop_id;

  IF v_user_role = 'owner' THEN
    RETURN 'User is already the owner of this shop';
  END IF;

  -- Find current owner (if any)
  SELECT auth_id INTO v_current_owner_auth_id
  FROM users
  WHERE shop_id = p_shop_id AND role = 'owner'
  LIMIT 1;

  -- If there's a current owner, demote them to staff
  IF v_current_owner_auth_id IS NOT NULL THEN
    UPDATE users
    SET role = 'staff'
    WHERE auth_id = v_current_owner_auth_id AND shop_id = p_shop_id;
  END IF;

  -- Promote the staff member to owner
  UPDATE users
  SET role = 'owner'
  WHERE auth_id = p_auth_user_id AND shop_id = p_shop_id;

  -- Update rental_shops.owner_id to the new owner
  UPDATE rental_shops
  SET owner_id = p_auth_user_id
  WHERE id = p_shop_id;

  RETURN 'User promoted to owner successfully';
END;
$$;


ALTER FUNCTION "public"."promote_staff_to_owner"("p_auth_user_id" "uuid", "p_shop_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."set_bookings_created_by"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  user_rec UUID;
BEGIN
  SELECT id INTO user_rec FROM users WHERE auth_id = auth.uid() LIMIT 1;
  IF user_rec IS NOT NULL THEN
    NEW.created_by := user_rec;
    NEW.user_id := user_rec;
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."set_bookings_created_by"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."set_customers_created_by"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  user_rec UUID;
BEGIN
  SELECT id INTO user_rec FROM users WHERE auth_id = auth.uid() LIMIT 1;
  IF user_rec IS NOT NULL THEN
    NEW.created_by := user_rec;
    NEW.user_id := user_rec;
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."set_customers_created_by"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."set_payments_recorded_by"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  user_rec UUID;
BEGIN
  SELECT id INTO user_rec FROM users WHERE auth_id = auth.uid() LIMIT 1;
  IF user_rec IS NOT NULL THEN
    NEW.recorded_by := user_rec;
    NEW.user_id := user_rec;
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."set_payments_recorded_by"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."set_vehicles_created_by"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  user_rec UUID;
BEGIN
  SELECT id INTO user_rec FROM users WHERE auth_id = auth.uid() LIMIT 1;
  IF user_rec IS NOT NULL THEN
    NEW.created_by := user_rec;
    NEW.user_id := user_rec;
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."set_vehicles_created_by"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."soft_delete_booking_children"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $_$
BEGIN
  IF OLD.deleted_at IS NULL AND NEW.deleted_at IS NOT NULL THEN
    UPDATE payments
    SET deleted_at = now(), updated_at = now()
    WHERE booking_id = NEW.id AND deleted_at IS NULL;

    IF to_regclass('public.booking_payments') IS NOT NULL THEN
      EXECUTE 'UPDATE booking_payments SET deleted_at = now(), updated_at = now() WHERE booking_id = $1 AND deleted_at IS NULL' USING NEW.id;
    END IF;
  END IF;
  RETURN NEW;
END;
$_$;


ALTER FUNCTION "public"."soft_delete_booking_children"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."soft_delete_customer_photos"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  IF OLD.deleted_at IS NULL AND NEW.deleted_at IS NOT NULL THEN
    UPDATE customer_id_photos
    SET deleted_at = now(), updated_at = now()
    WHERE customer_id = NEW.id AND deleted_at IS NULL;
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."soft_delete_customer_photos"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."soft_delete_vehicle_photos"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  IF OLD.deleted_at IS NULL AND NEW.deleted_at IS NOT NULL THEN
    UPDATE vehicle_damage_photos
    SET deleted_at = now(), updated_at = now()
    WHERE vehicle_id = NEW.id AND deleted_at IS NULL;
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."soft_delete_vehicle_photos"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."sync_vehicle_columns"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  -- Sync type Γåö vehicle_type
  IF NEW.type IS DISTINCT FROM OLD.type THEN
    NEW.vehicle_type := NEW.type;
  ELSIF NEW.vehicle_type IS DISTINCT FROM OLD.vehicle_type THEN
    NEW.type := NEW.vehicle_type;
  END IF;

  -- Sync daily_rate Γåö price_per_day
  IF NEW.daily_rate IS DISTINCT FROM OLD.daily_rate THEN
    NEW.price_per_day := NEW.daily_rate;
  ELSIF NEW.price_per_day IS DISTINCT FROM OLD.price_per_day THEN
    NEW.daily_rate := NEW.price_per_day;
  END IF;

  -- Sync current_odometer Γåö km_driven
  IF NEW.current_odometer IS DISTINCT FROM OLD.current_odometer THEN
    NEW.km_driven := NEW.current_odometer;
  ELSIF NEW.km_driven IS DISTINCT FROM OLD.km_driven THEN
    NEW.current_odometer := NEW.km_driven;
  END IF;

  -- Sync year Γåö model_year
  IF NEW.year IS DISTINCT FROM OLD.year THEN
    NEW.model_year := NEW.year;
  ELSIF NEW.model_year IS DISTINCT FROM OLD.model_year THEN
    NEW.year := NEW.model_year;
  END IF;

  -- Sync image_url Γåö image
  IF NEW.image_url IS DISTINCT FROM OLD.image_url THEN
    NEW.image := NEW.image_url;
  ELSIF NEW.image IS DISTINCT FROM OLD.image THEN
    NEW.image_url := NEW.image;
  END IF;

  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."sync_vehicle_columns"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."trg_soft_delete_booking_payments"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  IF OLD.deleted_at IS NULL AND NEW.deleted_at IS NOT NULL THEN
    UPDATE public.payments
    SET deleted_at = now(), updated_at = now()
    WHERE booking_id = NEW.id AND deleted_at IS NULL;
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."trg_soft_delete_booking_payments"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."trg_soft_delete_customer_photos"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  IF OLD.deleted_at IS NULL AND NEW.deleted_at IS NOT NULL THEN
    UPDATE public.customer_id_photos
    SET deleted_at = now(), updated_at = now()
    WHERE customer_id = NEW.id AND deleted_at IS NULL;
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."trg_soft_delete_customer_photos"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."trg_soft_delete_vehicle_photos"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  IF OLD.deleted_at IS NULL AND NEW.deleted_at IS NOT NULL THEN
    UPDATE public.vehicle_damage_photos
    SET deleted_at = now(), updated_at = now()
    WHERE vehicle_id = NEW.id AND deleted_at IS NULL;
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."trg_soft_delete_vehicle_photos"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."trigger_prevent_delete_if_invoiced"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  IF OLD.invoice_number IS NOT NULL THEN
    RAISE EXCEPTION 'Cannot delete booking with an invoice number.' USING ERRCODE = '23503';
  END IF;
  RETURN OLD;
END;
$$;


ALTER FUNCTION "public"."trigger_prevent_delete_if_invoiced"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."trigger_set_booking_number"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  IF NEW.booking_number IS NULL OR NEW.booking_number = '' THEN
    NEW.booking_number := public.generate_booking_number(NEW.shop_id);
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."trigger_set_booking_number"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."trigger_set_customer_number"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  IF NEW.customer_number IS NULL THEN
    NEW.customer_number := generate_customer_number(NEW.shop_id);
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."trigger_set_customer_number"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."trigger_set_invoice_number"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  IF TG_OP = 'UPDATE' THEN
    IF OLD.invoice_number IS NOT NULL AND NEW.invoice_number IS DISTINCT FROM OLD.invoice_number THEN
      RAISE EXCEPTION 'Invoice already exists for this booking; cannot regenerate number.' USING ERRCODE = '23514';
    END IF;
  END IF;

  IF NEW.invoice_number IS NULL AND NEW.shop_id IS NOT NULL AND NEW.status = 'Completed' AND COALESCE(NEW.invoice_pending, FALSE) = FALSE THEN
    NEW.invoice_number := public.generate_invoice_number(NEW.shop_id, COALESCE(NEW.invoice_generated_at, now()));
    NEW.invoice_generated_at := COALESCE(NEW.invoice_generated_at, now());
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."trigger_set_invoice_number"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_id_photo_expiry"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  -- Only when booking is marked as completed
  IF NEW.status = 'Completed' AND (OLD.status IS NULL OR OLD.status != 'Completed') THEN
    UPDATE customer_id_photos
    SET 
      expires_at = NEW.returned_at + INTERVAL '7 days',
      updated_at = now()
    WHERE 
      booking_id = NEW.id 
      AND deleted_at IS NULL
      AND expires_at IS NULL;
  END IF;
  
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_id_photo_expiry"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_updated_at_column"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  NEW.updated_at = now();
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_updated_at_column"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."booking_number_counters" (
    "shop_id" "uuid" NOT NULL,
    "next_booking_number" integer DEFAULT 1 NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."booking_number_counters" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."booking_number_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."booking_number_seq" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."bookings" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "shop_id" "uuid" NOT NULL,
    "booking_number" "text",
    "customer_id" "uuid" NOT NULL,
    "vehicle_ids" "uuid"[] DEFAULT '{}'::"uuid"[],
    "start_date" timestamp with time zone,
    "start_datetime" timestamp with time zone,
    "end_date" timestamp with time zone,
    "end_datetime" timestamp with time zone,
    "rent" numeric(10,2) DEFAULT 0,
    "deposit" numeric(10,2) DEFAULT 0,
    "total_amount" numeric(10,2) DEFAULT 0,
    "advance_amount" numeric(10,2),
    "balance_amount" numeric(10,2),
    "status" "public"."booking_status" DEFAULT 'Booked'::"public"."booking_status" NOT NULL,
    "payment_status" "public"."payment_status",
    "payment_choice" "public"."payment_choice",
    "payment_mode" "public"."payment_mode",
    "payment_type" "public"."payment_mode",
    "utr_number" "text",
    "start_image" "text",
    "end_image" "text",
    "opening_odometer" numeric(10,2),
    "closing_odometer" numeric(10,2),
    "damages_during_rental" "jsonb",
    "deposit_deduction" numeric(10,2) DEFAULT 0,
    "damage_notes" "text",
    "invoice_number" "text",
    "invoice_generated_at" timestamp with time zone,
    "invoice_generated_by" "uuid",
    "refund_amount" numeric(10,2),
    "history" "jsonb" DEFAULT '[]'::"jsonb",
    "taken_at" timestamp with time zone,
    "taken_by" "uuid",
    "returned_at" timestamp with time zone,
    "returned_by" "uuid",
    "paid_at" timestamp with time zone,
    "paid_by" "uuid",
    "cancelled_at" timestamp with time zone,
    "finalized" boolean DEFAULT false,
    "invoice_pending" boolean DEFAULT false,
    "invoice_locked" boolean DEFAULT false,
    "whatsapp_sent" "jsonb",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "notes" "text"
);


ALTER TABLE "public"."bookings" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."customer_id_photos" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "shop_id" "uuid" NOT NULL,
    "customer_id" "uuid" NOT NULL,
    "photo_path" "text",
    "photo_type" "text",
    "uploaded_by" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "side" "text",
    "file_path" "text",
    "damage_repaired_at" timestamp with time zone
);


ALTER TABLE "public"."customer_id_photos" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."customer_number_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."customer_number_seq" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."customer_sequences" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "shop_id" "uuid" NOT NULL,
    "sequence_number" integer DEFAULT 1,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."customer_sequences" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."customers" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "shop_id" "uuid" NOT NULL,
    "customer_number" "text",
    "full_name" "text" NOT NULL,
    "phone" "text" NOT NULL,
    "email" "text",
    "address" "text",
    "city" "text",
    "state" "text",
    "pincode" "text",
    "id_type" "public"."id_type" NOT NULL,
    "id_photos" "jsonb",
    "documents" "jsonb",
    "status" "public"."customer_status" DEFAULT 'Pending'::"public"."customer_status" NOT NULL,
    "notes" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone
);


ALTER TABLE "public"."customers" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."damages" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "shop_id" "uuid" NOT NULL,
    "vehicle_id" "uuid" NOT NULL,
    "booking_id" "uuid",
    "user_id" "uuid",
    "type" "public"."damage_type" DEFAULT 'Other'::"public"."damage_type" NOT NULL,
    "severity" "public"."damage_severity" DEFAULT 'Minor'::"public"."damage_severity" NOT NULL,
    "description" "text",
    "photo_urls" "text"[] DEFAULT '{}'::"text"[],
    "reported_by" "uuid",
    "reported_at" timestamp with time zone DEFAULT "now"(),
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."damages" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."documents" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "shop_id" "uuid" NOT NULL,
    "entity_type" "text",
    "entity_id" "uuid",
    "document_type" "text",
    "url" "text",
    "uploaded_by" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."documents" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."invoice_number_counters" (
    "shop_id" "uuid" NOT NULL,
    "financial_year" "text" NOT NULL,
    "next_invoice_number" integer DEFAULT 1 NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."invoice_number_counters" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."invoice_number_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."invoice_number_seq" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."invoice_sequences" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "shop_id" "uuid" NOT NULL,
    "fiscal_year" "text",
    "sequence_number" integer DEFAULT 1,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."invoice_sequences" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."rental_shops" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "owner_id" "uuid" NOT NULL,
    "name" "text" NOT NULL,
    "address" "text",
    "city" "text",
    "state" "text",
    "pincode" "text",
    "phone" "text",
    "email" "text",
    "gst_number" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."rental_shops" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."users" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "auth_id" "uuid" NOT NULL,
    "shop_id" "uuid" NOT NULL,
    "name" "text" NOT NULL,
    "phone" "text",
    "email" "text",
    "role" "public"."user_role" DEFAULT 'staff'::"public"."user_role" NOT NULL,
    "is_active" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."users" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."vehicle_damage_photos" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "shop_id" "uuid" NOT NULL,
    "damage_id" "uuid",
    "photo_url" "text",
    "uploaded_by" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "damage_repaired_at" timestamp with time zone
);


ALTER TABLE "public"."vehicle_damage_photos" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."vehicles" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "shop_id" "uuid" NOT NULL,
    "name" "text",
    "brand" "text",
    "model" "text",
    "registration_number" "text" NOT NULL,
    "type" "public"."vehicle_type" DEFAULT 'bike'::"public"."vehicle_type" NOT NULL,
    "fuel_type" "public"."fuel_type" DEFAULT 'Petrol'::"public"."fuel_type" NOT NULL,
    "year" integer,
    "image_url" "text",
    "daily_rate" numeric(10,2) DEFAULT 0 NOT NULL,
    "status" "public"."vehicle_status" DEFAULT 'Available'::"public"."vehicle_status" NOT NULL,
    "opening_km" numeric(10,2) DEFAULT 0,
    "current_odometer" numeric(10,2) DEFAULT 0,
    "last_closing_odometer" numeric(10,2),
    "documents" "jsonb",
    "damages" "jsonb" DEFAULT '[]'::"jsonb",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "cc" "text",
    "segment" "text",
    "gear_type" "text",
    "category" "text",
    "vehicle_type" "public"."vehicle_type",
    "price_per_day" numeric(10,2),
    "km_driven" numeric(10,2),
    "model_year" integer,
    "image" "text",
    "photos" "text"[] DEFAULT '{}'::"text"[]
);


ALTER TABLE "public"."vehicles" OWNER TO "postgres";


COMMENT ON COLUMN "public"."vehicles"."cc" IS 'Engine displacement (e.g., 110cc, 350cc)';



COMMENT ON COLUMN "public"."vehicles"."segment" IS 'Vehicle segment (Commuter, Sports, Premium)';



COMMENT ON COLUMN "public"."vehicles"."gear_type" IS 'Transmission type (Manual, Automatic)';



COMMENT ON COLUMN "public"."vehicles"."category" IS 'Vehicle category (Budget, Sports, EV)';



COMMENT ON COLUMN "public"."vehicles"."vehicle_type" IS 'Alias for type column (synced automatically)';



COMMENT ON COLUMN "public"."vehicles"."price_per_day" IS 'Alias for daily_rate column (synced automatically)';



COMMENT ON COLUMN "public"."vehicles"."km_driven" IS 'Alias for current_odometer column (synced automatically)';



COMMENT ON COLUMN "public"."vehicles"."model_year" IS 'Alias for year column (synced automatically)';



COMMENT ON COLUMN "public"."vehicles"."image" IS 'Alias for image_url column (synced automatically)';



COMMENT ON COLUMN "public"."vehicles"."photos" IS 'Array of photo URLs for vehicle gallery';



ALTER TABLE ONLY "public"."booking_number_counters"
    ADD CONSTRAINT "booking_number_counters_pkey" PRIMARY KEY ("shop_id");



ALTER TABLE ONLY "public"."bookings"
    ADD CONSTRAINT "bookings_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."customer_id_photos"
    ADD CONSTRAINT "customer_id_photos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."customer_sequences"
    ADD CONSTRAINT "customer_sequences_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."customer_sequences"
    ADD CONSTRAINT "customer_sequences_shop_id_key" UNIQUE ("shop_id");



ALTER TABLE ONLY "public"."customers"
    ADD CONSTRAINT "customers_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."damages"
    ADD CONSTRAINT "damages_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."documents"
    ADD CONSTRAINT "documents_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."invoice_number_counters"
    ADD CONSTRAINT "invoice_number_counters_shop_id_financial_year_key" UNIQUE ("shop_id", "financial_year");



ALTER TABLE ONLY "public"."invoice_sequences"
    ADD CONSTRAINT "invoice_sequences_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."invoice_sequences"
    ADD CONSTRAINT "invoice_sequences_shop_id_key" UNIQUE ("shop_id");



ALTER TABLE ONLY "public"."rental_shops"
    ADD CONSTRAINT "rental_shops_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_auth_id_key" UNIQUE ("auth_id");



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."vehicle_damage_photos"
    ADD CONSTRAINT "vehicle_damage_photos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."vehicles"
    ADD CONSTRAINT "vehicles_pkey" PRIMARY KEY ("id");



CREATE INDEX "idx_bookings_booking_number" ON "public"."bookings" USING "btree" ("booking_number");



CREATE INDEX "idx_bookings_customer_id" ON "public"."bookings" USING "btree" ("customer_id");



CREATE INDEX "idx_bookings_invoice_number" ON "public"."bookings" USING "btree" ("invoice_number");



CREATE INDEX "idx_bookings_notes" ON "public"."bookings" USING "btree" ("notes");



CREATE INDEX "idx_bookings_paid_at" ON "public"."bookings" USING "btree" ("paid_at");



CREATE INDEX "idx_bookings_returned_at" ON "public"."bookings" USING "btree" ("returned_at");



CREATE INDEX "idx_bookings_shop_id" ON "public"."bookings" USING "btree" ("shop_id");



CREATE INDEX "idx_bookings_taken_at" ON "public"."bookings" USING "btree" ("taken_at");



CREATE INDEX "idx_customer_id_photos_customer_id" ON "public"."customer_id_photos" USING "btree" ("customer_id");



CREATE INDEX "idx_customer_sequences_shop_id" ON "public"."customer_sequences" USING "btree" ("shop_id");



CREATE INDEX "idx_customers_notes" ON "public"."customers" USING "btree" ("notes");



CREATE INDEX "idx_customers_phone" ON "public"."customers" USING "btree" ("phone");



CREATE INDEX "idx_customers_shop_id" ON "public"."customers" USING "btree" ("shop_id");



CREATE INDEX "idx_damages_booking_id" ON "public"."damages" USING "btree" ("booking_id");



CREATE INDEX "idx_damages_vehicle_id" ON "public"."damages" USING "btree" ("vehicle_id");



CREATE INDEX "idx_invoice_sequences_shop_id" ON "public"."invoice_sequences" USING "btree" ("shop_id");



CREATE INDEX "idx_rental_shops_owner_id" ON "public"."rental_shops" USING "btree" ("owner_id");



CREATE INDEX "idx_users_auth_id" ON "public"."users" USING "btree" ("auth_id");



CREATE INDEX "idx_users_shop_id" ON "public"."users" USING "btree" ("shop_id");



CREATE INDEX "idx_vehicles_category" ON "public"."vehicles" USING "btree" ("category");



CREATE INDEX "idx_vehicles_registration_number" ON "public"."vehicles" USING "btree" ("registration_number");



CREATE INDEX "idx_vehicles_segment" ON "public"."vehicles" USING "btree" ("segment");



CREATE INDEX "idx_vehicles_shop_id" ON "public"."vehicles" USING "btree" ("shop_id");



CREATE OR REPLACE TRIGGER "sync_vehicle_columns_trigger" BEFORE INSERT OR UPDATE ON "public"."vehicles" FOR EACH ROW EXECUTE FUNCTION "public"."sync_vehicle_columns"();



ALTER TABLE ONLY "public"."bookings"
    ADD CONSTRAINT "bookings_customer_id_fkey" FOREIGN KEY ("customer_id") REFERENCES "public"."customers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."bookings"
    ADD CONSTRAINT "bookings_shop_id_fkey" FOREIGN KEY ("shop_id") REFERENCES "public"."rental_shops"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."customer_id_photos"
    ADD CONSTRAINT "customer_id_photos_customer_id_fkey" FOREIGN KEY ("customer_id") REFERENCES "public"."customers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."customer_id_photos"
    ADD CONSTRAINT "customer_id_photos_shop_id_fkey" FOREIGN KEY ("shop_id") REFERENCES "public"."rental_shops"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."customer_id_photos"
    ADD CONSTRAINT "customer_id_photos_uploaded_by_fkey" FOREIGN KEY ("uploaded_by") REFERENCES "public"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."customer_sequences"
    ADD CONSTRAINT "customer_sequences_shop_id_fkey" FOREIGN KEY ("shop_id") REFERENCES "public"."rental_shops"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."customers"
    ADD CONSTRAINT "customers_shop_id_fkey" FOREIGN KEY ("shop_id") REFERENCES "public"."rental_shops"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."damages"
    ADD CONSTRAINT "damages_booking_id_fkey" FOREIGN KEY ("booking_id") REFERENCES "public"."bookings"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."damages"
    ADD CONSTRAINT "damages_reported_by_fkey" FOREIGN KEY ("reported_by") REFERENCES "public"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."damages"
    ADD CONSTRAINT "damages_shop_id_fkey" FOREIGN KEY ("shop_id") REFERENCES "public"."rental_shops"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."damages"
    ADD CONSTRAINT "damages_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."damages"
    ADD CONSTRAINT "damages_vehicle_id_fkey" FOREIGN KEY ("vehicle_id") REFERENCES "public"."vehicles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."documents"
    ADD CONSTRAINT "documents_shop_id_fkey" FOREIGN KEY ("shop_id") REFERENCES "public"."rental_shops"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."documents"
    ADD CONSTRAINT "documents_uploaded_by_fkey" FOREIGN KEY ("uploaded_by") REFERENCES "public"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."invoice_sequences"
    ADD CONSTRAINT "invoice_sequences_shop_id_fkey" FOREIGN KEY ("shop_id") REFERENCES "public"."rental_shops"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."rental_shops"
    ADD CONSTRAINT "rental_shops_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_auth_id_fkey" FOREIGN KEY ("auth_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."users"
    ADD CONSTRAINT "users_shop_id_fkey" FOREIGN KEY ("shop_id") REFERENCES "public"."rental_shops"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."vehicle_damage_photos"
    ADD CONSTRAINT "vehicle_damage_photos_damage_id_fkey" FOREIGN KEY ("damage_id") REFERENCES "public"."damages"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."vehicle_damage_photos"
    ADD CONSTRAINT "vehicle_damage_photos_shop_id_fkey" FOREIGN KEY ("shop_id") REFERENCES "public"."rental_shops"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."vehicle_damage_photos"
    ADD CONSTRAINT "vehicle_damage_photos_uploaded_by_fkey" FOREIGN KEY ("uploaded_by") REFERENCES "public"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."vehicles"
    ADD CONSTRAINT "vehicles_shop_id_fkey" FOREIGN KEY ("shop_id") REFERENCES "public"."rental_shops"("id") ON DELETE CASCADE;



CREATE POLICY "Owners can insert staff for their shops" ON "public"."users" FOR INSERT WITH CHECK (("shop_id" IN ( SELECT "rental_shops"."id"
   FROM "public"."rental_shops"
  WHERE ("rental_shops"."owner_id" = "auth"."uid"()))));



CREATE POLICY "Owners can update staff for their shops" ON "public"."users" FOR UPDATE USING (("shop_id" IN ( SELECT "rental_shops"."id"
   FROM "public"."rental_shops"
  WHERE ("rental_shops"."owner_id" = "auth"."uid"())))) WITH CHECK (("shop_id" IN ( SELECT "rental_shops"."id"
   FROM "public"."rental_shops"
  WHERE ("rental_shops"."owner_id" = "auth"."uid"()))));



CREATE POLICY "Owners can update their own shops" ON "public"."rental_shops" FOR UPDATE USING (("owner_id" = "auth"."uid"())) WITH CHECK (("owner_id" = "auth"."uid"()));



CREATE POLICY "Owners can view their own shops" ON "public"."rental_shops" FOR SELECT USING (("owner_id" = "auth"."uid"()));



CREATE POLICY "Staff can insert bookings in their shop" ON "public"."bookings" FOR INSERT WITH CHECK (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"()))));



CREATE POLICY "Staff can insert customer photos in their shop" ON "public"."customer_id_photos" FOR INSERT WITH CHECK (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"()))));



CREATE POLICY "Staff can insert customers in their shop" ON "public"."customers" FOR INSERT WITH CHECK (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"()))));



CREATE POLICY "Staff can insert damages in their shop" ON "public"."damages" FOR INSERT WITH CHECK (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"()))));



CREATE POLICY "Staff can insert documents in their shop" ON "public"."documents" FOR INSERT WITH CHECK (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"()))));



CREATE POLICY "Staff can insert vehicle damage photos in their shop" ON "public"."vehicle_damage_photos" FOR INSERT WITH CHECK (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"()))));



CREATE POLICY "Staff can insert vehicles in their shop" ON "public"."vehicles" FOR INSERT WITH CHECK (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"()))));



CREATE POLICY "Staff can update bookings in their shop" ON "public"."bookings" FOR UPDATE USING (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"())))) WITH CHECK (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"()))));



CREATE POLICY "Staff can update customer photos in their shop" ON "public"."customer_id_photos" FOR UPDATE USING (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"())))) WITH CHECK (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"()))));



CREATE POLICY "Staff can update customer sequences in their shop" ON "public"."customer_sequences" FOR UPDATE USING (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"())))) WITH CHECK (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"()))));



CREATE POLICY "Staff can update customers in their shop" ON "public"."customers" FOR UPDATE USING (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"())))) WITH CHECK (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"()))));



CREATE POLICY "Staff can update damages in their shop" ON "public"."damages" FOR UPDATE USING (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"())))) WITH CHECK (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"()))));



CREATE POLICY "Staff can update documents in their shop" ON "public"."documents" FOR UPDATE USING (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"())))) WITH CHECK (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"()))));



CREATE POLICY "Staff can update invoice sequences in their shop" ON "public"."invoice_sequences" FOR UPDATE USING (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"())))) WITH CHECK (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"()))));



CREATE POLICY "Staff can update vehicle damage photos in their shop" ON "public"."vehicle_damage_photos" FOR UPDATE USING (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"())))) WITH CHECK (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"()))));



CREATE POLICY "Staff can update vehicles in their shop" ON "public"."vehicles" FOR UPDATE USING (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"())))) WITH CHECK (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"()))));



CREATE POLICY "Staff can view bookings in their shop" ON "public"."bookings" FOR SELECT USING (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"()))));



CREATE POLICY "Staff can view customer photos in their shop" ON "public"."customer_id_photos" FOR SELECT USING (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"()))));



CREATE POLICY "Staff can view customer sequences in their shop" ON "public"."customer_sequences" FOR SELECT USING (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"()))));



CREATE POLICY "Staff can view customers in their shop" ON "public"."customers" FOR SELECT USING (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"()))));



CREATE POLICY "Staff can view damages in their shop" ON "public"."damages" FOR SELECT USING (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"()))));



CREATE POLICY "Staff can view documents in their shop" ON "public"."documents" FOR SELECT USING (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"()))));



CREATE POLICY "Staff can view invoice sequences in their shop" ON "public"."invoice_sequences" FOR SELECT USING (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"()))));



CREATE POLICY "Staff can view vehicle damage photos in their shop" ON "public"."vehicle_damage_photos" FOR SELECT USING (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"()))));



CREATE POLICY "Staff can view vehicles in their shop" ON "public"."vehicles" FOR SELECT USING (("shop_id" IN ( SELECT "users"."shop_id"
   FROM "public"."users"
  WHERE ("users"."auth_id" = "auth"."uid"()))));



CREATE POLICY "Users can view their own shop's staff" ON "public"."users" FOR SELECT USING ((("shop_id" IN ( SELECT "rental_shops"."id"
   FROM "public"."rental_shops"
  WHERE ("rental_shops"."owner_id" = "auth"."uid"()))) OR ("auth_id" = "auth"."uid"())));



ALTER TABLE "public"."booking_number_counters" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."bookings" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."customer_id_photos" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."customer_sequences" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."customers" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."damages" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."documents" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."invoice_number_counters" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."invoice_sequences" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."rental_shops" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."users" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."vehicle_damage_photos" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."vehicles" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON FUNCTION "public"."calculate_photo_expiry"("p_booking_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."calculate_photo_expiry"("p_booking_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."calculate_photo_expiry"("p_booking_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."cleanup_damage_photos"() TO "anon";
GRANT ALL ON FUNCTION "public"."cleanup_damage_photos"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."cleanup_damage_photos"() TO "service_role";



GRANT ALL ON FUNCTION "public"."cleanup_expired_id_photos"() TO "anon";
GRANT ALL ON FUNCTION "public"."cleanup_expired_id_photos"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."cleanup_expired_id_photos"() TO "service_role";



GRANT ALL ON FUNCTION "public"."create_owner"("p_auth_user_id" "uuid", "p_shop_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."create_owner"("p_auth_user_id" "uuid", "p_shop_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."create_owner"("p_auth_user_id" "uuid", "p_shop_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."create_rental_shop"("p_owner_id" "uuid", "p_name" "text", "p_phone" "text", "p_email" "text", "p_address" "text", "p_city" "text", "p_state" "text", "p_pincode" "text", "p_gst_number" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."create_rental_shop"("p_owner_id" "uuid", "p_name" "text", "p_phone" "text", "p_email" "text", "p_address" "text", "p_city" "text", "p_state" "text", "p_pincode" "text", "p_gst_number" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."create_rental_shop"("p_owner_id" "uuid", "p_name" "text", "p_phone" "text", "p_email" "text", "p_address" "text", "p_city" "text", "p_state" "text", "p_pincode" "text", "p_gst_number" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."create_staff"("p_auth_user_id" "uuid", "p_shop_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."create_staff"("p_auth_user_id" "uuid", "p_shop_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."create_staff"("p_auth_user_id" "uuid", "p_shop_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."current_shop_id"() TO "anon";
GRANT ALL ON FUNCTION "public"."current_shop_id"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."current_shop_id"() TO "service_role";



GRANT ALL ON FUNCTION "public"."days_until_expiry"("p_expires_at" timestamp with time zone) TO "anon";
GRANT ALL ON FUNCTION "public"."days_until_expiry"("p_expires_at" timestamp with time zone) TO "authenticated";
GRANT ALL ON FUNCTION "public"."days_until_expiry"("p_expires_at" timestamp with time zone) TO "service_role";



GRANT ALL ON FUNCTION "public"."deactivate_user"("p_auth_user_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."deactivate_user"("p_auth_user_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."deactivate_user"("p_auth_user_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."fy_label"("ts" timestamp with time zone) TO "anon";
GRANT ALL ON FUNCTION "public"."fy_label"("ts" timestamp with time zone) TO "authenticated";
GRANT ALL ON FUNCTION "public"."fy_label"("ts" timestamp with time zone) TO "service_role";



GRANT ALL ON FUNCTION "public"."generate_booking_number"() TO "anon";
GRANT ALL ON FUNCTION "public"."generate_booking_number"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."generate_booking_number"() TO "service_role";



GRANT ALL ON FUNCTION "public"."generate_booking_number"("p_shop_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."generate_booking_number"("p_shop_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."generate_booking_number"("p_shop_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."generate_customer_number"() TO "anon";
GRANT ALL ON FUNCTION "public"."generate_customer_number"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."generate_customer_number"() TO "service_role";



GRANT ALL ON FUNCTION "public"."generate_customer_number"("p_shop_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."generate_customer_number"("p_shop_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."generate_customer_number"("p_shop_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."generate_invoice_number"() TO "anon";
GRANT ALL ON FUNCTION "public"."generate_invoice_number"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."generate_invoice_number"() TO "service_role";



GRANT ALL ON FUNCTION "public"."generate_invoice_number"("p_shop_id" "uuid", "p_ts" timestamp with time zone) TO "anon";
GRANT ALL ON FUNCTION "public"."generate_invoice_number"("p_shop_id" "uuid", "p_ts" timestamp with time zone) TO "authenticated";
GRANT ALL ON FUNCTION "public"."generate_invoice_number"("p_shop_id" "uuid", "p_ts" timestamp with time zone) TO "service_role";



GRANT ALL ON FUNCTION "public"."mark_damage_as_repaired"("p_damage_id" "uuid", "p_user_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."mark_damage_as_repaired"("p_damage_id" "uuid", "p_user_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."mark_damage_as_repaired"("p_damage_id" "uuid", "p_user_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."prevent_customer_deletion"() TO "anon";
GRANT ALL ON FUNCTION "public"."prevent_customer_deletion"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."prevent_customer_deletion"() TO "service_role";



GRANT ALL ON FUNCTION "public"."promote_staff_to_owner"("p_auth_user_id" "uuid", "p_shop_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."promote_staff_to_owner"("p_auth_user_id" "uuid", "p_shop_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."promote_staff_to_owner"("p_auth_user_id" "uuid", "p_shop_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."set_bookings_created_by"() TO "anon";
GRANT ALL ON FUNCTION "public"."set_bookings_created_by"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."set_bookings_created_by"() TO "service_role";



GRANT ALL ON FUNCTION "public"."set_customers_created_by"() TO "anon";
GRANT ALL ON FUNCTION "public"."set_customers_created_by"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."set_customers_created_by"() TO "service_role";



GRANT ALL ON FUNCTION "public"."set_payments_recorded_by"() TO "anon";
GRANT ALL ON FUNCTION "public"."set_payments_recorded_by"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."set_payments_recorded_by"() TO "service_role";



GRANT ALL ON FUNCTION "public"."set_vehicles_created_by"() TO "anon";
GRANT ALL ON FUNCTION "public"."set_vehicles_created_by"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."set_vehicles_created_by"() TO "service_role";



GRANT ALL ON FUNCTION "public"."soft_delete_booking_children"() TO "anon";
GRANT ALL ON FUNCTION "public"."soft_delete_booking_children"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."soft_delete_booking_children"() TO "service_role";



GRANT ALL ON FUNCTION "public"."soft_delete_customer_photos"() TO "anon";
GRANT ALL ON FUNCTION "public"."soft_delete_customer_photos"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."soft_delete_customer_photos"() TO "service_role";



GRANT ALL ON FUNCTION "public"."soft_delete_vehicle_photos"() TO "anon";
GRANT ALL ON FUNCTION "public"."soft_delete_vehicle_photos"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."soft_delete_vehicle_photos"() TO "service_role";



GRANT ALL ON FUNCTION "public"."sync_vehicle_columns"() TO "anon";
GRANT ALL ON FUNCTION "public"."sync_vehicle_columns"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."sync_vehicle_columns"() TO "service_role";



GRANT ALL ON FUNCTION "public"."trg_soft_delete_booking_payments"() TO "anon";
GRANT ALL ON FUNCTION "public"."trg_soft_delete_booking_payments"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."trg_soft_delete_booking_payments"() TO "service_role";



GRANT ALL ON FUNCTION "public"."trg_soft_delete_customer_photos"() TO "anon";
GRANT ALL ON FUNCTION "public"."trg_soft_delete_customer_photos"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."trg_soft_delete_customer_photos"() TO "service_role";



GRANT ALL ON FUNCTION "public"."trg_soft_delete_vehicle_photos"() TO "anon";
GRANT ALL ON FUNCTION "public"."trg_soft_delete_vehicle_photos"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."trg_soft_delete_vehicle_photos"() TO "service_role";



GRANT ALL ON FUNCTION "public"."trigger_prevent_delete_if_invoiced"() TO "anon";
GRANT ALL ON FUNCTION "public"."trigger_prevent_delete_if_invoiced"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."trigger_prevent_delete_if_invoiced"() TO "service_role";



GRANT ALL ON FUNCTION "public"."trigger_set_booking_number"() TO "anon";
GRANT ALL ON FUNCTION "public"."trigger_set_booking_number"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."trigger_set_booking_number"() TO "service_role";



GRANT ALL ON FUNCTION "public"."trigger_set_customer_number"() TO "anon";
GRANT ALL ON FUNCTION "public"."trigger_set_customer_number"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."trigger_set_customer_number"() TO "service_role";



GRANT ALL ON FUNCTION "public"."trigger_set_invoice_number"() TO "anon";
GRANT ALL ON FUNCTION "public"."trigger_set_invoice_number"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."trigger_set_invoice_number"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_id_photo_expiry"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_id_photo_expiry"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_id_photo_expiry"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "service_role";



GRANT ALL ON TABLE "public"."booking_number_counters" TO "anon";
GRANT ALL ON TABLE "public"."booking_number_counters" TO "authenticated";
GRANT ALL ON TABLE "public"."booking_number_counters" TO "service_role";



GRANT ALL ON SEQUENCE "public"."booking_number_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."booking_number_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."booking_number_seq" TO "service_role";



GRANT ALL ON TABLE "public"."bookings" TO "anon";
GRANT ALL ON TABLE "public"."bookings" TO "authenticated";
GRANT ALL ON TABLE "public"."bookings" TO "service_role";



GRANT ALL ON TABLE "public"."customer_id_photos" TO "anon";
GRANT ALL ON TABLE "public"."customer_id_photos" TO "authenticated";
GRANT ALL ON TABLE "public"."customer_id_photos" TO "service_role";



GRANT ALL ON SEQUENCE "public"."customer_number_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."customer_number_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."customer_number_seq" TO "service_role";



GRANT ALL ON TABLE "public"."customer_sequences" TO "anon";
GRANT ALL ON TABLE "public"."customer_sequences" TO "authenticated";
GRANT ALL ON TABLE "public"."customer_sequences" TO "service_role";



GRANT ALL ON TABLE "public"."customers" TO "anon";
GRANT ALL ON TABLE "public"."customers" TO "authenticated";
GRANT ALL ON TABLE "public"."customers" TO "service_role";



GRANT ALL ON TABLE "public"."damages" TO "anon";
GRANT ALL ON TABLE "public"."damages" TO "authenticated";
GRANT ALL ON TABLE "public"."damages" TO "service_role";



GRANT ALL ON TABLE "public"."documents" TO "anon";
GRANT ALL ON TABLE "public"."documents" TO "authenticated";
GRANT ALL ON TABLE "public"."documents" TO "service_role";



GRANT ALL ON TABLE "public"."invoice_number_counters" TO "anon";
GRANT ALL ON TABLE "public"."invoice_number_counters" TO "authenticated";
GRANT ALL ON TABLE "public"."invoice_number_counters" TO "service_role";



GRANT ALL ON SEQUENCE "public"."invoice_number_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."invoice_number_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."invoice_number_seq" TO "service_role";



GRANT ALL ON TABLE "public"."invoice_sequences" TO "anon";
GRANT ALL ON TABLE "public"."invoice_sequences" TO "authenticated";
GRANT ALL ON TABLE "public"."invoice_sequences" TO "service_role";



GRANT ALL ON TABLE "public"."rental_shops" TO "anon";
GRANT ALL ON TABLE "public"."rental_shops" TO "authenticated";
GRANT ALL ON TABLE "public"."rental_shops" TO "service_role";



GRANT ALL ON TABLE "public"."users" TO "anon";
GRANT ALL ON TABLE "public"."users" TO "authenticated";
GRANT ALL ON TABLE "public"."users" TO "service_role";



GRANT ALL ON TABLE "public"."vehicle_damage_photos" TO "anon";
GRANT ALL ON TABLE "public"."vehicle_damage_photos" TO "authenticated";
GRANT ALL ON TABLE "public"."vehicle_damage_photos" TO "service_role";



GRANT ALL ON TABLE "public"."vehicles" TO "anon";
GRANT ALL ON TABLE "public"."vehicles" TO "authenticated";
GRANT ALL ON TABLE "public"."vehicles" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







A new version of Supabase CLI is available: 
v2.72.7 (currently installed v2.67.1)
We recommend updating regularly for new features 
and bug fixes: https://supabase.com/docs/guides/c
li/getting-started#updating-the-supabase-cli
